<app-navbar></app-navbar>

<div class="container mt-4" *ngIf="logado" style="min-height: 100%; min-width: 70%;">
  <h3>Cadastro de Receita</h3>
  <form (ngSubmit)="submitRecipe()">
    <div class="mb-3">
      <label for="recipeName" class="form-label">Nome da Receita</label>
      <input
        type="text"
        id="recipeName"
        class="form-control"
        [(ngModel)]="recipe.nome"
        name="nome"
        required
      />
    </div>

    <div class="mb-3">
      <label for="recipeDescription" class="form-label">Descrição</label>
      <textarea
        id="recipeDescription"
        class="form-control"
        [(ngModel)]="recipe.descricao"
        name="descricao"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="recipeDescription" class="form-label">Modo de Preparo</label>
      <textarea
        id="recipeDescription"
        class="form-control"
        [(ngModel)]="recipe.modoPreparo"
        name="modoPreparo"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="recipeImage" class="form-label">URL da Imagem</label>
      <input
        type="url"
        id="recipeImage"
        class="form-control"
        [(ngModel)]="recipe.urlImagem"
        name="urlImagem"
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Ingredientes</label>
      <!-- Removido o código de *ngFor e de botão, agora apenas um campo simples -->
      <input
        type="text"
        id="ingredientes"
        class="form-control"
        [(ngModel)]="recipe.ingredientes"
        name="ingredient"
      />
    </div>
    
    <button type="submit" class="btn btn-success">Salvar Receita</button>
  </form>
</div>

<div *ngIf="!logado" style="text-align: center;">
  <h2>Para adicionar uma receita, por favor faça o login</h2>
  <button class="btn btn-outline-danger" style="margin-top: 2rem;" (click)="login()">Fazer Login</button>
</div>
